<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="{{ config.description }}" />
<link rel="stylesheet" href="{{ _url('css/style.css') }}" />
<title>{{ __('title.archives') }} | {{ config.title }}</title>
</head>

<body>
<div class="header">
  <div class="center">
    <h1>
      <a href="{{ _url() }}">{{ config.title }}</a>
    </h1>
    <p>{{ config.description }}</p>
    <div class="menu">
    {% for u in config.menu %}
      <a href="{{ _url(u) }}">{{ __('menu.' + loop.key) }}</a>
    {% endfor %}
    </div>
  </div>
</div>

<div class="archives center">
  <p class="head-tag">{{ _n('archives', _posts().length) }}</p>

  {% for id in page.posts %}
  {% set p = _posts(id) %}

  {% set year %}
  {% set p.year = _time(p.created, 'YYYY') %}

  {% if p.year !== year %}
  {% set year = p.year %}
  <h3 class="year">{{ year }}</h3>
  {% endif %}

  <div class="entry">
    <p>
      <span>{{ _time(p.created, 'MM-DD') }}</span>
      <a href="{{ _url(p.url) }}">{{ p.title }}</a>
    </p>
  </div>

  {% endfor %}
</div>

<div id="pagination">
  {% if page.prev %}
  <a rel="prev" href="{{ _url(page.prev) }}">← {{ __('pager.prev') }}</a>
  {% endif %}

  <span>{{ __('pager.tip', page.current, page.total) }}</span>

  {% if page.next %}
  <a rel="next" href="{{ _url(page.next) }}">{{ __('pager.next') }} →</a>
  {% endif %}
</div>

<div class="footer">
  <div class="center">
    &copy; {{ _time(Date.now(), 'YYYY') }} {{ config.title }} .
    <a target="_blank" href="https://github.com/acyortjs/acyort">{{ __('powered', 'AcyOrt', 'Github') }}</a> .
    <a target="_blank" href="https://github.com/{{ config.user }}/{{ config.repository }}/issues">Source</a>
  </div>
</div>
</body>
</html>
